<div class="container">
  <div *ngIf="alert1" class="alert alert-success alert-dismissible fade show">
    <strong>Success!</strong>Password Updated
    <button
      (click)="closeAlert()"
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="link">
    <a routerLink="/dashboard"> Back to Dashboard</a>
  </div>
  <!-- <div class="alert alert-warning" *ngIf="invalidLogin">{{ errorMessage }}</div> -->
  <div class="col-md-6">
    <img src="../../../assets/images/password.png" />
    <form #reset="ngForm" (ngSubmit)="onUpdate(reset)" novalidate>
      <h1>Change Password</h1>
      <div class="form-section">
        <div class="form-group">
          <!-- <label>Current Password</label> -->
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input
            type="password"
            class="form-control"
            id="current-password"
            placeholder="Enter current password"
            name="current_password"
            [(ngModel)]="reset.current_password"
            value="CurrentPassword"
          />
        </div>
        <!-- <div class="form-group">
      <label for="exampleInputPassword1">Enter New Password</label>
      <input
        type="password"
        class="form-control"
        id="new-password"
        placeholder="Enter new password"
        name="new_password"
        [(ngModel)]="reset.new_password"
        value="NewPassword"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Confirm new password</label>
      <input
        type="password"
        class="form-control"
        id="confirm-password"
        placeholder="Enter new password"
        name="confirm_password"
        [(ngModel)]="reset.confirm_password"
        value="ConfirmPassword"
      />
    </div> -->
        <!-- <div class="form-group">
    <label for="exampleInputPassword1">Verify</label>
    <input
      type="password"
      class="form-control"
      id="verify"
      placeholder="Verify Password"
    />
  </div> -->

        <div class="form-group">
          <!-- <label>Enter new Password</label> -->
          <i class="fa fa-lock" aria-hidden="true"></i>

          <input
            type="password"
            [(ngModel)]="reset.new_password"
            name="new_password"
            placeholder="Enter New Password"
            class="form-control"
            required
            #new_password="ngModel"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          />
          <div
            *ngIf="
              new_password.invalid && (reset.submitted || new_password.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="new_password.errors.required">
              Password is required.
            </div>
            <div *ngIf="new_password.errors.pattern">
              Must contain at least one number and one uppercase and lowercase
              letter, and at least 8 or more characters.
            </div>
          </div>
        </div>

        <div class="form-group">
          <!-- <label>Confirm Password</label> -->
          <i class="fa fa-lock" aria-hidden="true"></i>

          <input
            type="password"
            [(ngModel)]="reset.confirmpassword"
            name="confirmpassword"
            placeholder="Confirm New Password"
            class="form-control"
            required
            #confirmpassword="ngModel"
            pattern="{{ new_password.value }}"
          />
          <div
            *ngIf="
              confirmpassword.invalid &&
              (reset.submitted || confirmpassword.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="confirmpassword.errors.required">
              Confirm password is required.
            </div>
            <div *ngIf="confirmpassword.errors.pattern">
              Password & Confirm Password does not match.
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary col-md-4"
          [disabled]="!reset.form.valid"
        >
          Update
        </button>
        <!-- 
    <button type="submit" class="btn btn-primary m-5" (click)="logout()">
      Logout
    </button> -->
      </div>
    </form>
  </div>
</div>
