<h1 class="m-5">Welcome to Dashboard</h1>
<!-- <div class="form-row">
  <div class="form-group">
    <div class="form-check">
      <a href="#" routerLink="../reset-password">
        <label class="form-check-label" for="gridCheck">
          Forget Password?</label
        ></a
      >
    </div>
  </div>
</div> -->

<button type="submit" class="btn btn-primary m-5">
  <a routerLink="../change-password"> Change Password</a>
</button>
<button type="submit" class="btn btn-primary m-5" (click)="logout()">
  Logout
</button>
